{% extends "header.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-offset-2 col-sm-6">
            <h3>Your account has been created successfully! But the account has not been activated yet!</h3>
            <p>A confirmation mail with activation link has been provided to your given email.</p>
            <p>Please Login to your email and activate the account.</p>
            <p>If you face any type of problem during activation, please let us know!</p>
            <p>Contact: 01727210244</p>
        </div>
    </div>
</div>



{% endblock %}



