<form class="form-horizontal" id="essaySectionForm">
    {% csrf_token %}
    <div class="form-group">
        <label class="control-label col-sm-2" for="essaySubjectList">Subject</label>
        <div class="col-sm-3">
            <select class="form-control" id="essaySubjectList" name="essaySubjectList" required>
                <option option selected="true" disabled="disabled">---Please Select---</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="essayTestList">Test</label>
        <div class="col-sm-3">
            <select class="form-control" id="essayTestList" name="essayTestList" required>
                <option option selected="true" disabled="disabled">---Please Select---</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="essaySummary">Essay Summary</label>
        <div class="col-sm-6"><textarea class="form-control vresize" name="essaySummary" id="essaySummary" required></textarea></div>
        <i id="summaryEdit" class="fa fa-pencil fa-2x hidden"></i>
        <i id="summaryEditDone" class="fa fa-check fa-2x hidden"></i>
        <i id="summaryEditCancel" class="fa fa-times fa-2x hidden"></i>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="essayMaxQuesNo">Max. Ques: </label>
        <div class="col-sm-3 control-label"><span id="essayMaxQuesNo"></span></div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="essayExamTime">Exam Time: </label>
        <div class="col-sm-3 control-label"><span id="essayExamTime"></span></div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="essayTotalMarks">Total Marks: </label>
        <!--<div class="col-sm-3 control-label"><span id="essayTotalMarks"></span></div>-->
        <div class="col-sm-3">
            <input type="text" class="form-control" id="essayTotalMarks" disabled>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-block btn-primary" id="essayQuesSubBtn" disabled="true">Generate Form</button>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-block btn-primary" id="essayEditBtn" disabled="true">Edit Form</button>
        </div>

    </div>

    <div class="form-group">
        <div class="table-responsive">
            <table class="table table-striped" id="essayQuesTbl">
                <thead>
                    <tr>
                      <th class="text-center">Ques ID</th>
                      <th class="text-center">Question</th>
                      <th class="text-center">Mark</th>
                        <!--<th class="text-center hidden">ID</th>-->
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group">
        <div class="table-responsive">
            <table class="table table-striped text-center" id="essayQuesEditTbl">
                <thead>
                    <tr>
                      <th class="text-center">Ques ID</th>
                      <th class="text-center">Question</th>
                      <th class="text-center">Mark</th>
                        <!--<th class="text-center hidden">ID</th>-->
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <button type="reset" class="btn btn-block btn-warning" id="essayResetBtn">Reset</button>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-block btn-primary" id="essaySubmitBtn">Save</button>
        </div>
    </div>
</form>

<div class="modal fade" id="essayEditModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Question</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-3" for="essayQuesIDEdit">Ques ID: </label>
                            <div class="col-sm-4"><input type="text" class="form-control input-sm" id="essayQuesIDEdit" disabled/></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-3" for="essayQuesEdit">Question: </label>
                            <div class="col-sm-4">
                                <!--<input type="text" class="form-control input-sm" id="essayQuesEdit"/>-->
                                <textarea class="form-control vresize" id="essayQuesEdit"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-3" for="questionMarkEdit">Question Marks: </label>
                            <div class="col-sm-4">
                                <!--<input type="text" class="form-control input-sm" id="questionMarkEdit"/>-->
                                <select class="form-control input-sm" id="questionMarkEdit">
                                    <option option selected="true" disabled="disabled">---Please Select---</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="essayQuesEditBtn">Save changes</button>
            </div>
        </div>
  </div>
</div>
