<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <title>Online Exam</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "favicon.html" %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/TimeCircles.css' %}">
    <link rel="stylesheet" href="{% static 'css/scfu.css' %}">
</head>

<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">smartcareer4u.com</a>
        </div>

        {% if user.is_authenticated %}
        {% for info in userInfoList %}
        <div class="collapse navbar-collapse" id="isLoggedIn">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        {% if info.user.is_staff %}
                        Admin
                        {% else %}
                        User
                        {% endif %}
                    </a>
                </li>
                <li>
                    <div class="inset">
                        {% if info.user_image == 'Null' %}
                        <img class="center-block img-responsive" src="{% static 'images/default_avatar.jpg' %}"
                             alt="defaultAvatar">
                        {% else %}
                        <img class="img-responsive" src="{{ info.user_image.url }}" alt="userAvatar">
                        {% endif %}
                    </div>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{ info.user.first_name }} {{ info.user.last_name }}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu rightUserMenu" role="menu">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#changePassModal">
                                <i class="fa fa-key" aria-hidden="true"></i>
                                Change Password
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">
                                <i class="fa fa-power-off" aria-hidden="true"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        {% endfor %}
        {% else %}

        {% url 'password_reset' as passReset %}
        {% url 'password_reset_done' as passResetDone %}
        {% url 'password_reset_complete' as passResetComplete %}

        {% if request.path == passReset or request.path == passResetDone or request.path == passResetComplete %}

        {% else %}
        <div class="collapse navbar-collapse" id="isNotLoggedIn">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="registerLink">Sign Up</a></li>
                <li><a href="#" id="loginLink">Login</a></li>
            </ul>
        </div>
        {% endif %}
        {% endif %}
    </div>
</nav>
{% block content %}
{% endblock %}
<div class="modal fade" id="changePassModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="form-horizontal margin_top_20" id="passChangeForm" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-3" for="oldPass">Old Password</label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control" id="oldPass" minlength="7"
                                       placeholder="Old password" name="oldPass" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-3" for="newPass">New Password</label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control" id="newPass" minlength="7"
                                       placeholder="New password"
                                       name="newPass" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-3" for="newPassConfirm">Confirm
                                Password</label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control" id="newPassConfirm" minlength="7"
                                       placeholder="Confirm New password"
                                       name="newPassConfirm" required>
                            </div>
                        </div>
                        <div class="modal-footer  margin_top_20">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="throbber" style="display:none;">
    <img src="{% static 'images/busy.gif' %}" />
</div>

<div id="footer">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/additional-methods.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/jquery.blockUI.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/TimeCircles.js' %}"></script>
    <script src="{% static 'js/readonly.js' %}"></script>
    <script src="{% static 'js/loginScript.js' %}"></script>
    <script src="{% static 'js/testView.js' %}"></script>
    <script src="{% static 'js/subjectView.js' %}"></script>
    <script src="{% static 'js/mcqQuestionView.js' %}"></script>
    <script src="{% static 'js/essayQuestionView.js' %}"></script>
    <script src="{% static 'js/userView.js' %}"></script>
    <script src="{% static 'js/up_mcqExamView.js' %}"></script>
    <script src="{% static 'js/up_essayExamView.js' %}"></script>
    <script src="{% static 'js/reviewView.js' %}"></script>
    <script src="{% static 'js/up_resultView.js' %}"></script>

</div>

<div class="footer-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="design">
                    <a href="http://www.x09.com">v1.0 Alpha| Developed by x09</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="copyright">
                    Terms & Conditions | © 2018 smartcareer4u.com. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
