{% extends "header.html" %}
{% load staticfiles %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <h3 class="alert alert-danger" style="text-align:center;color:red;">{{ message }}</h3>
        </div>
    {% endfor %}
{% endif %}


<div class="container">
    <div class="row padding_top_35">
        <div class="col-sm-7">
            <div class="owl-carousel owl-theme picture_slide_main">
                <div class="item"><img src="{% static 'images/slide1.jpg' %}" alt="slideImg1"></div>
                <div class="item"><img src="{% static 'images/slide2.jpg' %}" alt="slideImg2"></div>
                <div class="item"><img src="{% static 'images/slide3.jpg' %}" alt="slideImg3"></div>
                <div class="item"><img src="{% static 'images/slide4.jpg' %}" alt="slideImg4"></div>
                <div class="item"><img src="{% static 'images/slide5.jpg' %}" alt="slideImg5"></div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="col-sm-12 flip">
                <div class="row card">
                    <div class="col-sm-12 face front">
                        <form class="form-horizontal" enctype="multipart/form-data" method="POST" id="loginForm">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-sm-offset-1 col-sm-3" for="username" required>User Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="username" id="username" placeholder="User Name" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-offset-1 col-sm-3" for="password" required>Password</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <input type="submit" class="btn btn-primary btn-block formbtn" value="Login">
                                    </div>
                                </div>
                            </div>
<!--                            <input type="hidden" name="next" value="{{ next }}"/>-->
                            <div class="form-group">
                              <div class="col-sm-offset-4 col-sm-8">
                                <strong>Forgot password?</strong><br>
                                <a href="{% url 'password_reset' %}">Click Here</a>
                              </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12 face back">
                        {% include "userRegistration.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="design">
                    <a href="http://www.x09.com">v1.0 Alpha| Developed by x09</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="copyright">
                    Terms & Conditions | © 2018 smartcareer4u.com. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
