{% extends "header.html" %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <h3 class="alert alert-danger" style="text-align:center;color:red;">{{ message }}</h3>
        </div>
    {% endfor %}
{% endif %}


<div class="container-fluid">
	<div class="row flip">
		<div class="col-sm-12 card">
			<div class="col-sm-4 face front">
                <form class="form-horizontal" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="username">User Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="username" id="username" placeholder="User Name" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="password">Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <input type="submit" class="btn btn-primary btn-block formbtn" value="Login">
                            </div>
                        </div>
                    </div>
                </form>
			</div>
			<div class="col-sm-4 face back">
                {% include "userRegistration.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}



