{% extends "header.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row wrapper">
        <div class="col-md-2 main_menu">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a data-toggle="pill" href="#home">
                        <i class="fa fa-home fa-fw"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a data-toggle="pill" href="#profile" id="profileLink">
                        <i class="fa fa-male fa-fw"></i>
                        Profile
                    </a>
                </li>
                <li>
                    <a data-toggle="pill" href="#user" id="userLink">
                        <i class="fa fa-user fa-fw"></i>
                        User Section
                    </a>
                </li>
                <li>
                    <a data-toggle="pill" href="#subject" id="subjectLink">
                        <i class="fa fa-book fa-fw"></i>
                        Subject Section
                    </a>
                </li>
                <li>
                    <a data-toggle="pill" href="#test" id="testLink">
                        <i class="fa fa-file fa-fw"></i>
                        Test Section
                    </a>
                </li>
                <li>
                    <a data-toggle="pill" href="#mcq" id="mcqLink">
                        <i class="fa fa-question fa-fw"></i>
                        MCQ Section
                    </a>
                </li>
                <li>
                    <a data-toggle="pill" href="#essay" id="essayLink">
                        <i class="fa fa-question fa-fw"></i>
                        Essay Section
                    </a>
                </li>
                <li>
                    <a data-toggle="pill" href="#review" id="reviewLink">
                        <i class="fa fa-check fa-fw"></i>
                        Review
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-offset-1 col-md-8 main_content">
            <div class="tab-content">

                <!--Home Section Start-->
                <div id="home" class="tab-pane fade in active">
                    <h3 class="sectionTitle">Home</h3>
                    {% include "homeSection.html" %}
                </div>
                <!--Home Section End-->

                <!--User Section Start-->
                <div id="user" class="tab-pane fade">
                    <h3 class="sectionTitle">User</h3>
                    {% include "userSection.html" %}
                </div>
                <!--User Section End-->

                <!--Profile Section Start-->
                <div id="profile" class="tab-pane fade">
                    <h3 class="sectionTitle">Profile</h3>
                    {% include "profileSection.html" %}
                </div>
                <!--Profile Section End-->

                <!--Subject Section Start-->
                <div id="subject" class="tab-pane fade">
                    <h3 class="sectionTitle">Subject</h3>
                    {% include "subjectSection.html" %}
                </div>
                <!--Subject Section End-->

                <!--Test Section Start-->
                <div id="test" class="tab-pane fade">
                    <h3 class="sectionTitle">Test</h3>
                    {% include "testSection.html" %}
                </div>
                <!--Test Section End-->

                <!--MCQ Section Start-->
                <div id="mcq" class="tab-pane fade">
                    <h3 class="sectionTitle">MCQ</h3>
                    {% include "mcqSection.html" %}
                </div>
                <!--MCQ Section End-->

                <!--Essay Section Start-->
                <div id="essay" class="tab-pane fade">
                    <h3 class="sectionTitle">Essay</h3>
                    {% include "essaySection.html" %}
                </div>
                <!--Essay Section End-->

                <!--Review Section Start-->
                <div id="review" class="tab-pane fade">
                    <h3 class="sectionTitle">Review</h3>
                    {% include "reviewSection.html" %}
                </div>
                <!--Review Section End-->

            </div>
        </div>
    </div>
</div>
{% endblock %}
