{% extends "header.html" %}
{% block content %}
<div class="container">
    <div class="forgetPass padding_top_20 padding_bot_20 col-md-offset-3 col-md-6 bg-info">
        <p class="text-justify">We have sent you an email with instructions for retrieving your password. :) </p>
        <p class="text-justify">If the email you entered is associated with your account, then you would receive them shortly!</p>
        <p class="text-justify">If you don't receive an email, please make sure you've entered the correct email address
            and also check your spam folder.
        </p>
        <div class="margin_top_20">
            <p class="text-justify">Though if you facing any problem please contact us:</p>
            <p class="text-justify">Email: <b> sajib.pantha@gmail.com </b> or Phone: <b>01727210244</b></p>
        </div>
    </div>
</div>
{% endblock %}
