<div class="sectionBody">
    <form class="form-horizontal" method="POST" id="testSectionForm">
    {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-2" for="subjectList">Subject</label>
            <div class="col-sm-3">
                <select class="form-control" id="subjectList" name="subjectList" required>
                    <option option selected="true" disabled="disabled">---Please Select---</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="testTypeList">Test Type</label>
            <div class="col-sm-3">
                <select class="form-control" id="testTypeList" name="testTypeList" required>
                    <option option selected="true" disabled="disabled">---Please Select---</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="testIDList">Test ID</label>
            <div class="col-sm-3">
                <select class="form-control" id="testIDList" name="testIDList" required>
                    <option option selected="true" disabled="disabled">---Please Select---</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="testName">Test Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="testName" required
                       placeholder="Test Name" name="testName">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="testTotalQues">Total Questions</label>
            <div class="col-sm-3">
                <select class="form-control" id="testTotalQues" name="testTotalQues" required>
                    <option option selected="true" disabled="disabled">---Please Select---</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="totalMarks">Total Marks</label>
            <div class="col-sm-1" id="quesNo"></div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="unitMark" placeholder="Unit Mark" name="unitMark" required>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="totalMarks"
                       placeholder="Total Marks" name="totalMarks" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="totalTime">Total Time</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="totalTime" required
                       placeholder="Total Time in Minutes" name="totalTime">
            </div>
        </div>
        <input type="text" class="hidden" id="mode" value="0" placeholder="Mode" name="mode">
        <input type="text" id="mcq_tt" class="hidden" name="mcq_tt">
        <input type="text" id="essay_tt" class="hidden" name="essay_tt">

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <button type="reset" id="resetBtn" class="btn btn-block btn-warning">Reset</button>
            </div>
            <div class="col-sm-2">
                <button type="button" id="editTestBtn" class="btn btn-block btn-info">Edit</button>
            </div>
            <div class="col-sm-2">
                <button type="submit" id="submitTestBtn" class="btn btn-block btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
