<div class="sectionBody">
    <form class="form-horizontal" id="testSectionForm">
    {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-2" for="subjectList">Subject</label>
            <div class="col-sm-3">
                <select class="form-control" id="subjectList">
                    <option>---Please Select---</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="testTypeList">Test Type</label>
            <div class="col-sm-3">
                <select class="form-control" id="testTypeList">
                    <option>---Please Select---</option>
                    <option value="1">MCQ</option>
                    <option value="2">Essay</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="testIDList">Test ID</label>
            <div class="col-sm-3">
                <select class="form-control" id="testIDList">
                    <option>---Please Select---</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="testName">Test Name</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="testName" placeholder="Test Name" name="testName">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="testTotalQues">Test Total Questions</label>
            <div class="col-sm-3">
                <select class="form-control" id="testTotalQues">
                    <option>---Please Select---</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="totalMarks">Total Marks</label>
            <div class="col-sm-1" id="quesNo"></div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="unitMark" placeholder="Unit Mark" name="unitMark">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="totalMarks" placeholder="Total Marks" name="totalMarks" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="totalTime">Total Time</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="totalTime" placeholder="Total Time in Minutes" name="totalTime">
            </div>
        </div>
        <input type="text" class="hidden" id="mode" placeholder="Mode" name="mode">
        <input type="text" id="mcq_tt" class="hidden" name="mcq_tt">
        <input type="text" id="essay_tt" class="hidden" name="essay_tt">

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <button type="reset" id="resetBtn" class="btn btn-block btn-primary">Reset</button>
            </div>
            <div class="col-sm-2">
                <button type="button" id="editBtn" class="btn btn-block btn-primary">Edit</button>
            </div>
            <div class="col-sm-2">
                <button type="button" id="submitBtn" class="btn btn-block btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
