<div class="sectionBody">
    <form class="form-horizontal" id="up_essayExamForm">
        {% csrf_token %}
        <div class="form-group">
            <!--<label class="control-label col-sm-2" for="essayExamSubjectList">Subject</label>-->
            <div class="col-sm-6">
                <select class="form-control" id="essayExamSubjectList">
                    <option option selected="true" disabled="false">---Please Select---</option>
                </select>
            </div>

            <div class="col-md-2">
                <button type="button" id="essayTestStartBtn" class="btn btn-primary" data-test="" data-time="">Start Test</button>
            </div>
        </div>
        <div class="col-sm-11 margin_top_20">
            <div class="essayExamQuesSummary text-justify">
            </div>
        </div>
        <div class="col-sm-11 essayExamQuesList">
        </div>
        <div class="col-sm-3 margin_top_20">
            <div class="row">
                <button type="button" class="btn btn-success hidden" id="essayAnsSubmitBtn" disabled="true">Submit Answer</button>
            </div>
        </div>
    </form>
</div>


