<form class="form-horizontal" id="up_mcqExamForm">
    {% csrf_token %}
    <div class="col-sm-12">
        <div class="row">
            <div class="slideWrap owl-carousel owl-theme mcq_carousel">
                {% for quesData in quesInfo %}
                <div class="item">
                    <p class="margin_bot_20"><b>{{quesData.mcq_question_id}}. {{quesData.mcq_question}}</b></p>
                    <div class="radio">
                        <label><input type="radio" data-qid="{{quesData.id}}" name="ques[{{quesData.mcq_question_id}}]" value="1">{{quesData.mcq_option1}}</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" data-qid="{{quesData.id}}" name="ques[{{quesData.mcq_question_id}}]" value="2">{{quesData.mcq_option2}}</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" data-qid="{{quesData.id}}" name="ques[{{quesData.mcq_question_id}}]" value="3">{{quesData.mcq_option3}}</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" data-qid="{{quesData.id}}" name="ques[{{quesData.mcq_question_id}}]" value="4">{{quesData.mcq_option4}}</label>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</form>
<script>
    $('.mcq_carousel').owlCarousel({
        loop:false,
        margin:10,
        nav:true,
        dotsContainer: '#customDots',
        dots: true,
        mouseDrag: false,
        touchDrag: false,
        pullDrag: false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:1
            },
            1000:{
                items:1
            }
        }
    });
    $('.mcq_carousel').on('changed.owl.carousel', function(event) {
        if(event.item.index+1==event.item.count){
            $('#mcqAnsSubmitBtn').prop('disabled',false);
            $('#mcqAnsSubmitBtn').removeClass('hidden');
        }
        else{
            $('#mcqAnsSubmitBtn').prop('disabled',true);
            $('#mcqAnsSubmitBtn').addClass('hidden');
        }
    });
</script>