<div class="sectionBody">
    <form class="form-horizontal" id="userResultForm">
    {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-2" for="resultTestType">Test Type</label>
            <div class="col-sm-3">
                <select class="form-control" id="resultTestType" name="resultTestType" required>
                    <option option selected="true" disabled="disabled">---Please Select---</option>
                </select>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-striped text-center display" cellspacing="0" width="100%" id="resultListTbl">
            <thead>
                <tr>
                    <th class="text-center">Subject</th>
                    <th class="text-center">Test</th>
                    <th class="text-center">Total Marks</th>
                    <th class="text-center">Gained Marks</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Date</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>



<div class="modal fade" id="resultDetailModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Result Details</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped text-center display" cellspacing="0" width="100%"
                           id="essayResultDetailsTbl">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Ques</th>
                                <th class="text-center">Marks</th>
                                <th class="text-center">Your Answer</th>
                                <th class="text-center">Mark Obt.</th>
                                <th class="text-center red">Suggestions</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
  </div>
</div>