{% extends "header.html" %}
{% block content %}
<div id="test"></div>
<div class="container-fluid">
    <div class="row wrapper">
        <div class="col-md-2 main_menu">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a data-toggle="pill" href="#home"><i class="fa fa-home fa-fw"></i>Home</a></li>
                <li><a data-toggle="pill" href="#userProfile" id="profileLink"><i class="fa fa-male fa-fw"></i>Profile</a></li>
                <li><a data-toggle="pill" href="#mcqExam" id="mcqExamLink"><i class="fa fa-question fa-fw"></i>MCQ Exam</a>
                </li>
                <li><a data-toggle="pill" href="#essayExam" id="essayExamLink"><i class="fa fa-question fa-fw"></i>Essay Exam</a>
                </li>
                <li><a data-toggle="pill" href="#result" id="resultLink"><i class="fa fa-check fa-fw"></i>Result</a></li>
            </ul>
        </div>

        <div class="col-md-offset-1 col-md-9 main_content">
            <div class="tab-content">

                <!--Home Section Start-->
                <div id="home" class="tab-pane fade in active col-md-11">
                    <h3>Home</h3>
                    {% include "homeSection.html" %}
                </div>
                <!--Home Section End-->

                <!--User Profile Section Start-->
                <div id="userProfile" class="tab-pane fade col-md-11">
                    <h3>User</h3>
                    {% include "profileSection.html" %}
                </div>
                <!--User Profile Section End-->

                <!--MCQ Exam Section Start-->
                <div id="mcqExam" class="tab-pane fade">
                    <div class="col-md-8">
                        <h3>MCQ</h3>
                        {% include "up_mcqExamSection.html" %}
                    </div>
                    <div class="col-md-4 mcqQuesController">
                    </div>
                </div>
                <!--MCQ Exam Section End-->

                <!--Essay Exam Section Start-->
                <div id="essayExam" class="tab-pane fade">
                    <div class="col-md-8">
                        <h3>Essay</h3>
                        {% include "up_essayExamSection.html" %}
                    </div>
                    <div class="col-md-4 essayQuesController">
                    </div>
                </div>
                <!--Essay Exam Section End-->

                <!--Result Section Start-->
                <div id="result" class="tab-pane fade col-md-11">
                    <h3>Result</h3>
                    {% include "up_resultSection.html" %}
                </div>
                <!--Result Section End-->
            </div>
        </div>
        <!--<div class="col-md-3 quesController">
        </div>-->
    </div>
</div>

{% endblock %}
<!--</body>-->

<script>
    $(document).ready(function(){
        $('.mcqQuesController').hide();
        $('#mcqExamLink').on('click',function(){
            $('.mcqQuesController').show();
        });
        /*var dot = $('#customDots .owl-dot');
        dot.each(function() {
            var index = $(this).index() + 1;
            var testNum=$.trim(index).length === 1 ? '0' + index : index;
            $(this).html(testNum);
        });*/
    });
</script>

</html>
