{% include "header.html" %}

<div class="container">
  {% if registered  %}
    {% if messages %}
      {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <h4 class="alert alert-success" style="text-align:center;">{{ message }}</h4>
        </div>
      {% endfor %}
    {% endif %}
  {% else %}
  <h1>Registered Here.....</h1><br><br>
  <form class="form-horizontal" enctype="multipart/form-data" method="POST">
    {% csrf_token %}

      <div class="form-group">
          <label class="control-label col-sm-2" for="userName">User Name</label>
          <div class="col-sm-6">
              <input type="text" class="form-control" id="userName" placeholder="User Name" name="userName">
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2" for="userContact">User Contact</label>
          <div class="col-sm-6">
              <input type="text" class="form-control" id="userContact" placeholder="User Contact" name="userContact">
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2" for="userImage">User Image</label>
          <div class="col-sm-6">
              <input type="file" name="pic" accept="image/*">
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2" for="email">Email</label>
          <div class="col-sm-6">
              <input type="email" class="form-control" id="email" placeholder="Email" name="email">
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Password</label>
          <div class="col-sm-6">
              <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2" for="confirm_pwd">Confirm Password</label>
          <div class="col-sm-6">
              <input type="password" class="form-control" id="confirm_pwd" placeholder="Confirm password" name="confirm_pwd">
          </div>
      </div>

      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Save</button>
          </div>
      </div>
  </form>
  {% endif %}

</div>
